*{
 box-sizing: border-box;
}

html{
    /* background: #ECE7E8; */
    /* background: url(../img/taza_java.png) repeat-y; */
    background: linear-gradient(#1CB5E0,#000046);
}

body{
    font-family: 'Roboto', 'sans-serif';
}
 
/* Inicio: Desktop */

/* header */

.contenedor_header{
    /* background-color: blue; */
    width: 100%;

}

.contenedor_logo{
    display: flex;
    flex-flow: row;
}

.logoAlura{
    width: 120px;
    height: 48px;
    margin: 20px 10px;
}

.parrafo_principal{
    font-size: 2em;
    margin: 30px 0 0 100px;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    text-shadow: 1px 1px 2px white;
    
}
/* main: Desktop*/

.contenedor_main{
    /* background: green; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.contenedor_encriptador{
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}

.encriptar{
  resize: none;
  border: none;
  width: 70%;
  height: 350px;
  margin: 10px auto;
  font-size: 1.5em;
  color: darkblue;
  background: none;
  border-radius: 11px;
  color: white;
}


.bi-exclamation-circle-fill{
    font: 0.9em 'Roboto';
    /* background: violet; */
    width: 50%;
    font-weight: bold;
    margin: 15px auto;
    color: #67808E;

}

.contenedor_buttons{
    /* background: blue; */
    width: 90%; 
    text-align: center;
    margin: 10px auto;
}

.boton_encriptador{
    margin: 10px 10px;
    font-size: 1.5em;
    background: darkblue; 
    color: white;
    font-weight: bold;
    border-radius: 0.8em;
    width: 40%;
    height: 50px;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    border: 1px solid white;  
}

.boton_encriptador:hover{
    background: white;
    color: darkblue;
    border: 1px solid darkblue;
}

.boton_encriptador:active{
    /* #666 */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.boton_desencriptador{
    margin: 10px 10px;
    font-size: 1.5em;
    color:darkblue;
    border: 1px solid darkblue;
    font-weight: bold;
    width: 40%;
    height: 50px;
    border-radius: 0.8em;
    background: white;
}

.boton_desencriptador:hover{
    margin: 10px 10px;
    font-size: 1.5em;
    background: darkblue;
    width: 40%;
    color: white;
    border: 1px solid white;
    border-radius: 0.8em;
    cursor: pointer;
}

.boton_desencriptador:active{
    /* #666 */
    box-shadow: 0 5px white;
    transform: translateY(4px); 

}

.contenedor_desincriptador{
    width: 50%;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 30px;
    margin: 20px 0;
    box-shadow: 3px 3px 6px #67808E;
    border: 3px solid #ECE7E8;
}

.desencriptar{
    resize: none;
    border: none;
    width: 70%;
    height: 350px;
    margin: 30px auto;
    font-size: 1.5em;
    color: darkblue;
    background: rgba(255,255,255,0.8) center url(../img/Muneco.png) no-repeat;
}

.desencriptar:hover{
    background: white;
    
}

.boton_copiar{
    margin: 20px 10px;
    font-size: 1.5em;
    border-radius: 0.8em;
    width: 50%;
    height: 50px;
    color: darkblue;
    font-weight: bold;
    border: 1px solid darkblue;
    /* transition-duration: 0.4s; */
}

.boton_copiar:hover{
    background: darkblue;
    color: white;
    cursor: pointer;
}

.boton_copiar:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: 2px solid darkblue;
}

/* footer : desktop*/
.footer_seccion{
    margin: 30px 0;
    width: 100%;
    /* background: url(../img/taza_java.png); */
    display: flex;
    flex-flow: row;
}

.contenedor_informacion{
    display: flex;
    flex-flow: row;
    width: 70%;
}

.img_perfil{
    margin: 10px 5px 30px 40px;
    /* padding: 10px 10px; */
    border-radius: 50%;
    border: 3px solid white;
    background-size: auto;
    background-position: 50%;
    width: 26%;
}

.informacion{
 display: flex;
 flex-flow: column;
 margin: auto;
 width: 50%;
 font-size: 1.5em;
 padding: 10px 10px;
}

.informacion > h2{
    color: white;
    margin: 10px 10px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.informacion > p{
    color: white;
    margin: 0px 10px;
    font-size: 1em;
}

.links{
    width: 30%;
    display: flex;
    flex-flow: column;
    margin: auto;
    font-size: 1.5em;
    align-items: flex-start;
    color: white;
}

.links:hover{
    color: #1CB5E0 ;
}

.links_informacion{
    color: white;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    
}

.links_informacion:hover{
    color: #1CB5E0;
    margin: 0 0 0 20px;
}

.links > i{
    margin: 10px 10px;
}

/* fin del Desktop */


/* MediaQuery Tablet */
@media (max-width: 768px){

    body{
        font-family: 'Roboto', 'sans-serif';
    }

    .contenedor_header{
        /* background: violet; */
        width: 100%;
    }

    .contenedor_logo{
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .logoAlura{
        width: 120px;
        height: 48px;
        margin: 25px 0 0 0;
    }

    .parrafo_principal{
        font-size: 1.8em;
        width: 100%;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        color: darkblue;
    }
    /* main tablet */

    .contenedor_main{
        width: 100%;
        margin: 0 5px;
        display: flex;
        flex-flow: column;
    }
    .contenedor_encriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .encriptar{
        resize: none;
        width: 415px;
        height: 329px;
        margin: 10px auto;

    }

    .contenedor_desincriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .desencriptar{
        resize: none;
        width: 415px;
        height: 329px;
        margin: 10px auto;
    }
    
    .bi-exclamation-circle-fill{
        font: 1em 'Roboto'; 
        width: 100%;
        text-align: center;
        margin: 15px auto;
    }

    .footer_seccion{
    width: 100%;
    /* background: url(../img/wave\ _footer.svg) repeat-x; */
    display: flex;
    flex-flow: row;
    }

    .contenedor_informacion{
        width: 70%;
    }

    .img_perfil{
        margin: 10px 20px;
        border-radius: 100px;
        border: 3px solid white;
        width: 40%; 
    }
    
    .informacion > h2{
        font-size: 0.8em;
        letter-spacing: 1px;
        color: white;

    }

    .informacion>p{
        font-size: 0.6em;
        margin: 5px 6px;
    }


}

/* Mediaquery: Mobile */
@media(max-width: 375px){

    body{
        font-family: 'Roboto', 'sans-serif';
    }

    .contenedor_header{
        /* background: red; */
        width: 100%;
    }

    .contenedor_logo{
        display: flex;
        flex-flow: column;
    }
    
    .logoAlura{
        width: 120px;
        height: 48px;
        margin: 25px 0 0 0;
    }
    
    .parrafo_principal{
        font-size: 1.3em;
        width: 100%;
        padding: 10px 0 0 0;
        margin: 40px auto;
        padding: 10px 10px;
        text-align: center;
        font-weight: bold;
        color: darkblue;

    }

    /* Main: Mobile*/
    .contenedor_main{
        width: 100%;
        margin: 0 5px;
        display: flex;
        flex-flow: column;
    }

    .contenedor_encriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* background: red; */
        border-radius: 16px;
    }

    .encriptar{
        resize: none;
        width: 315px;
        height: 229px;
        border-radius: 16px;

    }

    .bi-exclamation-circle-fill{
        font: 0.9em 'Roboto'; 
        width: 90%;
        text-align: center;
        margin: 15px auto;
        color: #67808E;
    }

    .contenedor_buttons{
        width: 100%;
        margin: 5px auto;
    }

    .boton_encriptador{
        width: 40%;
    }
    
    .boton_desencriptador{
        width: 40%;
    }

    .contenedor_desincriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .desencriptar{
        resize: none;
        width: 315px;
        height: 229px;
    }

    .footer_seccion{
    width: 100%;
    /* background: 100px 100px url(../img/taza_java.png) center; */
    display: flex;
    flex-flow: row wrap;
    }

    .contenedor_informacion{
        /* background: pink; */
        width: 70%;
        margin: 10px auto;
    }

    .img_perfil{
        width: 130px;
        height: 130px;
        margin: 10px 10px;
        align-items: flex-start;
    }

    .informacion{
        width: 40%;
    }

    .informacion > h2{
        letter-spacing: 1px;
        color: white;
        margin: 10px 5px;
        font-size: 0.6em;
        font-weight: bold;
        font-family: 'Merriweather', serif;
    }
    
    .informacion > p{
        color: white;
        margin: 0px 10px;
        font-size: 0.4em;
    }

    
    .links{
        width: 30%;
        display: flex;
        flex-flow: column;
        margin: auto;
        font-size: 0.8em;
        align-items: center;
        color: white;
    }

}

