*{
 box-sizing: border-box;
}

html{
    background: #ECE7E8;
}

body{
    font-family: 'Roboto', 'sans-serif';
}

/* Desktop */

/* header */

.contenedor_header{
    /* background-color: blue; */
    width: 100%;
}

.contenedor_logo{
    display: flex;
    flex-flow: row;
}

.logoAlura{
    width: 120px;
    height: 48px;
    margin: 20px 10px;
}

.parrafo_principal{
    font-size: 1.6em;
    margin: 30px 0 0 100px;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    
}
/* main */
.contenedor_main{
    /* background: green; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.contenedor_encriptador{
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}

.encriptar{
  resize: none;
  border: none;
  width: 70%;
  height: 350px;
  margin: 10px auto;
  font-size: 1.5em;
  color: darkblue;
  background: #ECE7E8;
}

.bi-exclamation-circle-fill{
    font: 0.9em 'Roboto';
    /* background: violet; */
    width: 50%;
    margin: 15px auto;
    color: #67808E;
}

.contenedor_buttons{
    /* background: blue; */
    width: 90%; 
    text-align: center;
    margin: 10px auto;
}

.boton_encriptador{
    margin: 10px 10px;
    font-size: 1.5em;
    background: darkblue;
    color: white;
    font-weight: bold;
    border-radius: 0.8em;
    width: 40%;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    border: 2px solid darkblue;
    
}

.boton_encriptador:hover{
    background: white;
    color: darkblue;
    border: 2px solid darkblue;
    
}
.boton_encriptador:active{
    /* #666 */
    box-shadow: 0 5px darkblue;
    transform: translateY(4px);
}

.boton_desencriptador{
    margin: 10px 10px;
    font-size: 1.5em;
    color:darkblue;
    border: 3px solid darkblue;
    font-weight: bold;
    width: 40%;
    border-radius: 0.8em;
}

.boton_desencriptador:hover{
    margin: 10px 10px;
    font-size: 1.5em;
    background: darkblue;
    width: 40%;
    color: white;
    border-radius: 0.8em;
}
.boton_desencriptador:active{
    /* #666 */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: 2x solid darkblue;
}

.contenedor_desincriptador{
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}

.desencriptar{
    resize: none;
    border: none;
    width: 70%;
    height: 350px;
    margin: 10px auto;
    font-size: 1.5em;
    color: darkblue;
}

.boton_copiar{
    margin: 10px 10px;
    font-size: 1.5em;
    border-radius: 0.8em;
    width: 50%;
    color: darkblue;
    font-weight: bold;
    border: 2px solid darkblue;
    /* transition-duration: 0.4s; */
}

.boton_copiar:hover{
    background: darkblue;
    color: white;
}

.boton_copiar:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: 2x solid darkblue;
}


/* footer */

/* fin del Desktop */



/* MediaQuery Tablet */
@media (max-width: 768px){

    body{
        font-family: 'Roboto', 'sans-serif';
    }

    .contenedor_header{
        /* background: violet; */
        width: 100%;
    }

    .contenedor_logo{
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .logoAlura{
        width: 120px;
        height: 48px;
        margin: 25px 0 0 0;
    }

    .parrafo_principal{
        font-size: 1.5em;
        width: 100%;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        color: darkblue;
    }
    /* main tablet */

    .contenedor_main{
        width: 100%;
        margin: 0 5px;
        display: flex;
        flex-flow: column;
    }
    .contenedor_encriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .encriptar{
        resize: none;
        width: 415px;
        height: 329px;
        margin: 10px auto;
    }

    .contenedor_desincriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .desencriptar{
        resize: none;
        width: 415px;
        height: 329px;
        margin: 10px auto;
    }
    
    .bi-exclamation-circle-fill{
        font: 1em 'Roboto'; 
        width: 100%;
        text-align: center;
        margin: 15px auto;
    }
}

/* Mediaquery: Mobile */
@media(max-width: 375px){

    body{
        font-family: 'Roboto', 'sans-serif';
    }

    .contenedor_header{
        /* background: red; */
        width: 100%;
    }

    .contenedor_logo{
        display: flex;
        flex-flow: column;
    }
    
    .logoAlura{
        width: 120px;
        height: 48px;
        margin: 25px 0 0 0;
    }
    
    .parrafo_principal{
        font-size: 1.3em;
        width: 100%;
        padding: 10px 0 0 0;
        margin: 30px auto;
        padding: 0 10px;
        text-align: center;
        font-weight: bold;
        color: darkblue;
    }

    /* Main: Mobile*/
    .contenedor_main{
        width: 100%;
        margin: 0 5px;
        display: flex;
        flex-flow: column;
    }

    .contenedor_encriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .encriptar{
        resize: none;
        width: 315px;
        height: 229px;
    }

    .bi-exclamation-circle-fill{
        font: 0.8em 'Roboto'; 
        width: 90%;
        text-align: center;
        margin: 15px auto;
    }

    .contenedor_desincriptador{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .desencriptar{
        resize: none;
        width: 315px;
        height: 229px;
    }

}

